backports.cached-property==1.0.0.post2
certifi>=2021.10.8
click==7.1.2
docker==4.4.1
python_dateutil>=2.8.0
pyyaml==5.4.1
requests==2.25.0
smart_open>=2.1.0,<6.0
tabulate==0.8.9
tenacity==6.2.0
tqdm<5.0
urllib3>=1.25.3,<1.26
