name: Tests

on:
  push:
    branches:
      - "**"

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Test Setup
        run: python -m pip install tox
      - name: Run Tests
        run: tox -e py

  style-checks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Test Setup
        run: |
          python -m pip install tox
      - name: flake8
        run: tox -e flake8
