name: Tests

on:
  push:
    branches:
      - "**"

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Test Setup
        run: python -m pip install tox
      - name: Run Tests
        run: tox -e py

  integration-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Test Setup
        run: python -m pip install tox
      - name: Run Tests
        run: tox -e integration
        env:
          GRETEL_API_KEY: ${{ secrets.GRETEL_TEST_API_KEY }}

  style-checks:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Test Setup
        run: |
          python -m pip install -r requirements.txt -r test-requirements.txt
          python -m pip install tox flake8
      - name: flake8
        run: tox -e flake8

  notify:
    needs: [unit-tests, integration-tests, style-checks]
    if: always()
    runs-on: ubuntu-20.04
    steps:
      - uses: technote-space/workflow-conclusion-action@v2
      - uses: 8398a7/action-slack@v2
        with:
          status: ${{ env.WORKFLOW_CONCLUSION }}
          author_name: Branch Checks
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
